<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <template>
    <val>这里是模板</val>
    <val>您可以添加任意的字符在这里</val>
    <val>便于您使用</val>
  </template>
  <config>
    <剪切板最大数量>50</剪切板最大数量>
    <按钮高度>50</按钮高度>
    <窗口高度>200</窗口高度>
  </config>
</configuration>
